* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;  
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  width: 100vw; 
  height: 100vh; 
  display: flex; 
}

.page-image {
  width: 40%; 
  height: 100%; 
}

.page-text {
  width: 60%; 
  height: 100%; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
}

#background-image {
  width: 100%; 
  height: 100%;  
}

.image-title {
  position: absolute;  
  width: 40%; 
  background: #949ca8;
  background: linear-gradient(90deg,rgba(148, 156, 168, 1) 100%, rgba(85, 135, 106, 1) 100%, rgba(113, 203, 124, 1) 59%, rgba(237, 221, 83, 1) 100%);
  opacity: 50%; 
  padding: 1rem; 
  top: 15rem; 
  text-align: center; 
}

span {
  font-style: italic; 
}

.heading-text {
  margin-top: 1rem; 
  font-weight: bold;  
  margin-left: 1rem; 
  margin-right: 1rem; 
}

form {
  margin-top: 2rem; 
  margin-bottom: 2rem; 
  padding-top: 1rem; 
  padding-bottom: 1rem; 
  display: flex;  
  flex-direction: column; 
  width: 100%; 
  box-shadow: 2px 2px 7px 1px rgb(157, 96, 66);
}

.flex-container {
  display: flex; 
  justify-content: center; 
  padding-left: 1rem; 
}

.flex-container > div {
  display: flex; 
  flex-direction: column;
  width: 50%; 
  margin-bottom: 0.75rem; 
}

label {
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
  color: grey; 
  letter-spacing: 0.25rem;   
}

input {
  border: 1px solid grey; 
  border-radius: 2px; 
  padding: 0.15rem; 
  width: 10rem; 
}

input:active {
  border: 1px solid grey; 
}

#create-account {
  padding-right: 1rem; 
  padding-left: 1rem; 
  padding-top: 0.5rem; 
  padding-bottom: 0.5rem; 
  border: none; 
  background-color: rgb(157, 96, 66);
  color: white; 
  border-radius: 0.25rem; 
  margin-left: 1rem; 
  margin-right: 1rem; 
}

#create-account:hover {
  background-color: rgb(179, 109, 75);
  cursor: pointer; 
}

.log-in-text {
  margin-top: 1rem; 
  margin-left: 1rem; 
  margin-right: 1rem; 
}

.log-in-text > a {
  text-decoration: none; 
  color: rgb(157, 96, 66);
}

#password, #confirm-password {
  border: 2px solid rgb(255, 115, 0); 
}